* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

html, body {
    height: 100%;
}

i {
    color: #263238;
}

header {
    max-height: 200px;
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-around;
}

header img {
    max-height: 50px;
}

header .search {
    width: 50%;
}

header .search input {
    border: none;
    border-bottom: 1px solid #78909c;
    width: 90%;
}

header .search i {
    position: relative;
    right: 30px;
}

header .user {
    display: flex;
    align-items: center;
}

header .user span {
    font-size: 13px;
    color: #78909c;
}

header .carrinho {
    display: inherit;
}

header .carrinho .count {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f44336;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

#banner img {
    height: 300px;
}

.sec-produtos {
    max-width: 70%;
    margin: 20px auto;
}

.sec-produtos .separador {
    height: 5px;
    width: 50px;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    background-color: #b0bec5;
}

#produtos img {
    height: 200px;
    max-width: 200px;
    margin: auto;
}
/* 
#produtos .item {
    transition: all 0.5s ease-in;
} */

#produtos .item {
    border-radius: 0 0 4px 4px;
}

#produtos .item:hover {
    background-color: rgba(176, 190, 197, 0.2);
}

#produtos .item .info {
    display: grid;
    text-align: center;
}

.info .desconto {
    width: 0; 
    height: 0; 
    border-top: 60px solid #F8475F;
    border-bottom: 60px solid transparent;
    border-left: 60px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.info .sp-desconto {
    position: absolute;
    top: 9px;
    right: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.info .title {
    text-transform: uppercase;
    margin-top: 10px;
}

.info .avaliacao {
    margin-bottom: 10px;
}

.info .avaliacao i {
    transform: scale(0.8);
    color: #F8475F;
}

.info .preco {
    display: grid;
    gap: 5px;
}

.info .preco .preco-tab {
    font-size: 12px;
    text-decoration: line-through;
    opacity: 0;
}

.info .preco .preco-tab.active {
    opacity: 1;
}

.info .preco .valor {
    font-weight: bold;
}

.info .parcelamento {
    font-size: 11px;
    opacity: 0;
}

.info .parcelamento.active {
    opacity: 1;
}

.info button {
    margin: 8px auto;
    border: none;
    background-color: #263238;
    color: #fff;
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    opacity: 0;
}

#produtos .item:hover .info button {
    opacity: 1;
}


.sec-produtos .arrow {
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.sec-produtos .left {
    left: 10%;
}

.sec-produtos .right {
    right: 10%;
}

.sec-produtos .arrow i {
    transform: scale(2);
}

footer {
    margin-top: 30px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.localizacao {
    display: flex;
    flex-direction: column;
}

.localizacao .separador {
    height: 5px;
    width: 50px;
    margin: 20px 0;
    background-color: #fff;
}

.localizacao span{
    font-size: 13px;
    line-height: 22px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato button:first-of-type {
    margin-bottom: 20px;
}

.contato button {
    text-transform: uppercase;
    line-height: 13px;
    border: none;
    background: #fff;
    border-radius: 4px;
    padding: 13px 10px;
    max-width: 200px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.created img {
    max-height: 35px;
}

@media (max-width: 750px) {
    header .user span {
        display: none;
    }
}
