* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

html, body {
    height: 100%;
}

i {
    color: #263238;
    cursor: context-menu;
}

header {
    .cabecalho {
        max-height: 200px;
        display: flex;
        padding: 10px 50px;
        align-items: center;
        justify-content: space-around;

        .menu {
            display: none;
        }
        
        img {
            max-height: 50px;
        }
        
        .search {
            width: 50%;
            display: flex;

            input {
                border: none;
                border-bottom: 1px solid #78909c;
                width: 90%;
            }
            
            i {
                position: relative;
                right: 23px;
            }
        }
        
        
        .user {
            display: flex;
            align-items: center;

            span {
                font-size: 13px;
                color: #78909c;
            }
        }

        .carrinho {
            display: inherit;

            .count {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #f44336;
                color: #fff;
                font-size: 13px;
                text-align: center;
            }
        }
    }

}


#banner {
    img {
        height: 300px;
    }

    .item img:nth-child(2) {
        display: none;
    }
    
    .responsive {
        display: none;
    }

    .owl-dots .owl-dot {
        &.active span {
            background-color: #F8475F;
        }

        &:hover span {
            background-color: #F8475F;
        }
    }
}


.sec-produtos {
    max-width: 70%;
    margin: 20px auto;

    .separador {
        height: 5px;
        width: 50px;
        border-radius: 2px;
        margin: 5px 0 20px 0;
        background-color: #b0bec5;
    }

    .arrow {
        position: absolute;
        bottom: 0;
        cursor: pointer;
        i {
            transform: scale(2);
            cursor: pointer;
        }
    }
    
    .left {
        left: 10%;
    }
    
    .right {
        right: 10%;
    }
}

#produtos {
    img {
        height: 200px;
        max-width: 200px;
        margin: auto;
    }

    .item {
        border-radius: 0 0 4px 4px;

        .info {
            display: grid;
            text-align: center;
        }

        &:hover {
            background-color: rgba(176, 190, 197, 0.2);
        }
    }

    .item {
        &:hover .info button {
            opacity: 1;
        }
    }
}


.info {
    .desconto {
        width: 0; 
        height: 0; 
        border-top: 60px solid #F8475F;
        border-bottom: 60px solid transparent;
        border-left: 60px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sp-desconto {
        position: absolute;
        top: 9px;
        right: 5px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
    }
    
    .title {
        text-transform: uppercase;
        margin-top: 10px;
    }
    
    .avaliacao {
        margin-bottom: 10px;

        i {
            transform: scale(0.8);
            color: #F8475F;
        }
    }

    .preco {
        display: grid;
        gap: 5px;

        .preco-tab {
            font-size: 12px;
            text-decoration: line-through;
            opacity: 0;
        }
        
        .preco-tab.active {
            opacity: 1;
        }
        
        .valor {
            font-weight: bold;
        }
    }
    
    
    .parcelamento {
        font-size: 11px;
        opacity: 0;
    }
    
    .parcelamento.active {
        opacity: 1;
    }
    
    button {
        margin: 8px auto;
        border: none;
        background-color: #263238;
        color: #fff;
        padding: 10px 30px;
        border-radius: 4px;
        text-transform: uppercase;
        opacity: 0;
    }
}

footer {
    margin-top: 30px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;

    .localizacao {
        display: flex;
        flex-direction: column;

        .separador {
            height: 5px;
            width: 50px;
            margin: 20px 0;
            background-color: #fff;
        }
        
        span{
            font-size: 13px;
            line-height: 22px;
        }
    }

    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;

        button:first-of-type {
            margin-bottom: 20px;
        }
        
        button {
            text-transform: uppercase;
            line-height: 13px;
            border: none;
            background: #fff;
            border-radius: 4px;
            padding: 13px 10px;
            max-width: 200px;
            width: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    
    
    .created img {
        max-height: 35px;
    }
}

@media (max-width: 750px) {
    header .cabecalho .user span {
        display: none;
    }

    #banner {
        .responsive {
            position: absolute;
            top: 0;
            font-size: 25px;
            display: flex;
            color: #fff;
            width: 100%;
            height: 100%;
            flex-direction: column;
            padding: 25px;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.4);
            span:last-child {
                font-weight: bold;
                font-size: 35px;
            }
        }

        .item img {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                display: block;
            }
        }
    }


    footer {
        flex-direction: column;

        div {
            margin-bottom: 20px;
        }

        .created {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .localizacao {
            width: 100%;
        }
    }
}

@media (max-width: 640px) {
    header {
        .cabecalho {
            height: 100px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 10px 10px;

            .menu {
                display: block;
            }

            img {
                grid-column-start: 2;
            }

            .search {
                width: 100%;
                display: flex;
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 4;
                position: relative;

                input {
                    width: 100%;
                }

                i {
                    position: absolute;
                    right: 0;
                    top: -7px;
                }
            }

            .user {
                display: none;
            }

            .carrinho {
                display: flex;
                justify-self: end;
            }
        }
    }
}

